/* ======================== Font ======================== */
@font-face {
    font-family: "Gilroy";
    src: url("../css/fonts/Gilroy-ExtraBold.woff2") format("woff2"),
        url("../css/fonts/Gilroy-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../css/fonts/Gilroy-Light.woff2") format("woff2"),
        url("../css/fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* ================================================ */
* {
    box-sizing: border-box;
}

:root {
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Gilroy", sans-serif;
}
/* ======================== Common ======================== */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* ======================== Header ======================== */
.header {
    background: #f9f1e7;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    padding: 0 43px;
}

.nav ul {
    display: flex;
    gap: 40px;
}

.nav a {
    font-size: 16px;
    font-weight: 600;
    color: #3a3a3a;
    padding-right: 8px;
}

.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.search {
    --padding: 6px;

    display: flex;
    align-items: center;
    width: max-content;
    padding: var(--padding);
    background: #fff;
    transition: background 0.25s;
}

.search-input {
    font-size: 14px;
    font-family: "Gilroy", sans-serif;
    color: #616161;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 445px;
    height: 33px;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.action {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 32px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
