/* ======================== Font ======================== */
@font-face {
    font-family: "Gilroy";
    src: url("../css/fonts/Gilroy-ExtraBold.woff2") format("woff2"),
        url("../css/fonts/Gilroy-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../css/fonts/Gilroy-Light.woff2") format("woff2"),
        url("../css/fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* ================================================ */
* {
    box-sizing: border-box;
}

:root {
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Gilroy", sans-serif;
}
/* ======================== Common ======================== */
a {
    text-decoration: none;
}

.btn {
    background: #e89f71;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-content {
    width: 1291px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* ======================== Header ======================== */
.header {
    background: #f9f1e7;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    padding: 0 43px;
}

.nav ul {
    display: flex;
    gap: 40px;
}

.nav a {
    font-size: 16px;
    font-weight: 600;
    color: #3a3a3a;
    padding-right: 8px;
}

.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.search {
    --padding: 6px;

    display: flex;
    align-items: center;
    width: max-content;
    padding: var(--padding);
    background: #fff;
    transition: background 0.25s;
}

.search-input {
    font-size: 14px;
    font-family: "Gilroy", sans-serif;
    color: #616161;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 445px;
    height: 33px;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.action {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 32px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* ======================== Slider ======================== */
.body-slider {
    padding: 25px 0 66px;
    background: #f9f1e7;
}

.body-slider .hero-content:hover,
.body-slider .info-box:hover {
    border-color: transparent;
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.2);
}

.slider {
    position: relative;
    width: 1339px;
    max-width: 100vw;
    height: 624px;
    margin: auto;
    overflow: hidden;
}

.slider .list {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: max-content;
    transition: 1s;
}

.slider .list img {
    width: 1339px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider .buttons {
    display: flex;
    position: absolute;
    top: 45%;
    left: 1%;
    width: 98%;
    justify-content: space-between;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e89f71;
    color: #fff;
    border: none;
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.slider .dots {
    display: flex;
    position: absolute;
    bottom: -8px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    cursor: pointer;
}

.slider .dots li {
    list-style: none;
    width: 11px;
    height: 11px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.slider .dots li.active {
    background: #e89f71;
}

.hero-content {
    position: absolute;
    top: 36px;
    left: 99px;
    width: 494px;
    height: 553px;
    background-color: rgb(255 255 255 / 70%);
    backdrop-filter: blur(5px);
}

.hero-content .content {
    padding: 60px;
}

.hero-content .title {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    color: #3a3a3a;
}

.hero-content .desc {
    padding-top: 16px;
    width: 357px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #898989;
}

.hero-content .cta-btn {
    margin-top: 48px;
    width: 100%;
    height: 78px;
}

.info-box {
    display: flex;
    position: absolute;
    bottom: 54px;
    right: 89px;
    width: 294px;
    height: 139px;
    background-color: rgb(255 255 255 / 70%);
    backdrop-filter: blur(5px);
    padding: 24px;
    justify-content: space-between;
    align-items: flex-end;
}

.info-box .desc .product-name {
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    color: #3a3a3a;
}

.info-box .desc .desc-product {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #616161;
}

.info-box .desc .price-product {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #3a3a3a;
}

.info-box .icon {
    width: 24px;
    height: 22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* ======================== Feature ======================== */
.feature {
    padding: 73px 103px 88px;
}

.feature-content {
    gap: 92px;
}

.feature-list {
    display: flex;
    justify-content: space-between;
}

.feature-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.feature-item .thumb {
    width: 40px;
    height: 40px;
    margin-right: 24px;
}

.feature-item .info .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #3a3a3a;
}

.feature-item .info .desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #898989;
}

/* ======================== Responsive ======================== */
@media screen and(max-width: 768px) {
    .slider {
        height: 400px;
    }
}
