/* ======================== Font ======================== */
@font-face {
    font-family: "Gilroy";
    src: url("../css/fonts/Gilroy-ExtraBold.woff2") format("woff2"),
        url("../css/fonts/Gilroy-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../css/fonts/Gilroy-Light.woff2") format("woff2"),
        url("../css/fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* ================================================ */
* {
    box-sizing: border-box;
}

:root {
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Gilroy", sans-serif;
}
/* ======================== Common ======================== */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* ======================== Header ======================== */
.header {
    background: #f9f1e7;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    padding: 0 43px;
}

.nav ul {
    display: flex;
    gap: 40px;
}

.nav a {
    font-size: 16px;
    font-weight: 600;
    color: #3a3a3a;
    padding-right: 8px;
}

.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.search {
    --padding: 6px;

    display: flex;
    align-items: center;
    width: max-content;
    padding: var(--padding);
    background: #fff;
    transition: background 0.25s;
}

.search-input {
    font-size: 14px;
    font-family: "Gilroy", sans-serif;
    color: #616161;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 445px;
    height: 33px;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.action {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 32px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* ======================== Slider ======================== */
.body-slider {
    padding: 25px 0 66px;
    background: #f9f1e7;
}

.slider {
    position: relative;
    width: 1339px;
    max-width: 100vw;
    height: 624px;
    margin: auto;
    overflow: hidden;
}

.slider .list {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: max-content;
    transition: 1s;
}

.slider .list img {
    width: 1339px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider .buttons {
    display: flex;
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    justify-content: space-between;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e89f71;
    color: #fff;
    border: none;
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
}

.slider .dots {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 11px;
    height: 11px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.slider .dots li.active {
    background: #e89f71;
}

/* ======================== Responsive ======================== */
@media screen and(max-width: 768px) {
    .slider {
        height: 400px;
    }
}
